body {
    background-color: white;
    color: black;
    transition: background-color 0.3s, color 0.3s;
}

.dark-mode-button {
    background-color: #ccc;
    color: black;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

.dark-mode-button.active {
    background-color: black;
    color: white;
}

.dark-mode-button:focus {
    outline: none;
}




#resizableImage {
    width: 200px;
    transition: all 0.3s ease;
    cursor: pointer;
}

#resizableImage.large {
    width: 300px;
}
